// Cores e gradientes
@LinearGradient: linear-gradient(90deg, rgba(9,9,121,1) 16%, rgba(0,212,255,1) 100%);
@VeryLightGrayishBlue: hsl(240, 78%, 98%);
@LightGrayishBlue: hsl(234, 14%, 74%);
@GrayishBlue: hsl(233, 13%, 49%);
@DarkGrayishBlue: hsl(232, 13%, 33%);

// Fontes
body{
    font-size: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
    background: url(../images/bg-top.svg) no-repeat top right, url(../images/bg-bottom.svg) no-repeat bottom left, @VeryLightGrayishBlue;
}

section.tituloBotao{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
    .titulo{
        h2{
        font-size: 35px;
        color: @GrayishBlue;
        }
    }
    .botaoValores{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 25%;
        p{
            color: @LightGrayishBlue;
            position: relative;
            bottom: 13px;
        }
        input[type=checkbox] {
            position: absolute;
            visibility: hidden;
        }
        
         input#toggle[type=checkbox]{
             display:none;
         }
        
        
        label {
            position: absolute;
            height: 40px;
            width: 120px;
            display: block; 
            right: 0;
            left:0;
            z-index: 9999;
            cursor: pointer;
            margin: 0 auto;
        }
        input[type=checkbox]:checked ~ .switch .button {
            position: absolute;
            left: 37px;
        }
        .switch {
            display: block; 
            position: relative;
            border-bottom: 1px solid #FFF;
            border-radius: 25px;
            background: @LinearGradient;
            box-shadow: inset 0 0 10px #888888;
            -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
            height: 30px;
            width: 65px;
            margin: 0px auto 30px auto;
            .button{
                display: block; 
                position: absolute;
                border-top: 1px solid #FFF;
                border-bottom: 1px solid #AAA;
                border-radius: 100%;
                background: #fff;
                height: 22px;
                width: 24px;
                top: 3px;
                left: 4px;
                box-shadow: 0 0 2px rgba(0,0,0,0.25);
                transition: left .25s ease-in-out;
                -webkit-transition: left .25s ease-in-out;
              }
          }
    }
    .modalidades{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            color: @LightGrayishBlue;
            font-size: 16px;
            text-align: center;
        }
        h3{
            font-size: 3em;
            text-align: center;
            display: flex;
            align-items: center;
            span{
                font-size: 25px;
            }
        }
        .row{
            width: 90%;
            background: @LightGrayishBlue;
            height: 1px;
        }
        .caixa{
            width: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: white;
            border-radius: 10px;
            button{
                background: @LinearGradient;
                margin-top: 10px;
                border-radius: 5px;
                padding: 10px 0 10px 0;
                width: 90%;
                margin-bottom: 10px;
                border: none;
                color: white;
                font-weight: bold;
                cursor: pointer;
                &:hover{
                    background: transparent;
                    border: 1px @GrayishBlue solid;
                    color: @GrayishBlue;
                }
            }
            &.professional{
                background: @LinearGradient;
                padding: 20px 0 20px 0;
                p{
                    color: white;
                }
                .row{
                    background: white;
                }
                h3{
                    color: white;
                }
                button{
                    background: white;
                    color:rgba(9,9,121,1);
                    &:hover{
                        background: transparent;
                        border: 1px white solid;
                        color: white;
                    }
                }
            }
        }
        
        
    }
    
}
